.main-box {
    background-color: #f0f0f0;
    padding: 50px 40px;
    max-width: 500px;
}
.btn-ipo {
    background-color: #4c45b9;
    color: #fff;
    padding: 10px 40px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
}
.btn-ipo:hover {
    background-color: #4c45b9d1;
    color: #fff;
}
.main-box h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    color: #323232;
}